@page "/order/{Id}"
@using GovOrdersApp.Data.Orders
@using GovOrdersApp.Data.Users
@using Microsoft.AspNetCore.WebUtilities
@using Microsoft.Extensions.Primitives
@inject OrderService orderService
@inject NavigationManager navManager
@inject UserService userService
@inject FileService fsService
@inject IJSRuntime JS

<PageTitle>Заказ</PageTitle>

<div class="d-flex flex-column justify-content-between" style="max-width: 45em; margin: 0 auto; padding-bottom: 5em;">
	<h3 class="align-self-center mb-3 font-weight-bold">Заказ @order.Title</h3>
	@if (role == "AdminRole" || role == "CustomerRole")
	{
		<form class="pb-3" @onsubmit="UpdateOrder">
			@foreach (var item in errors)
			{
				<div class="form-control alert alert-danger">@item</div>
			}
			<label>
				<p></p>Название:
			</label>
			<input class="form-control" @bind="order.Title" />

			<br />
			<label>
				Описание:
			</label>
			<textarea class="form-control" @bind="order.Description" />

			<br />
			<label>
				Заказчик:
				@AuthorName
			</label>
			<br />
			<label>
				Застройщик:
			</label>
			<select class="form-select" @bind="order.Builder">
				@if (order.Builder == "")
				{
					<option value="" selected>Выберите застройщика</option>
				}
				else
				{
					<option value="">Выберите застройщика</option>
				}
				@foreach (var item in builders)
				{
					@if (item.Id == order.Builder)
					{
						<option value="@item.Id" selected>@item.FullName</option>
					}
					else
					{
						<option value="@item.Id">@item.FullName</option>
					}
				}
			</select>
			<br />
			<label>
				Проектировщик:
			</label>
			<select class="form-select" @bind="order.Designer">
				@if (order.Designer == "")
				{
					<option value="" selected>Выберите проектировщика</option>
				}
				else
				{
					<option value="">Выберите проектировщика</option>
				}
				@foreach (var item in designers)
				{
					@if (item.Id == order.Designer)
					{
						<option value="@item.Id" selected>@item.FullName</option>
					}
					else
					{
						<option value="@item.Id">@item.FullName</option>
					}
				}
			</select>
			<br />
			<input class="form-control btn btn-primary" type="submit" value="Обновить" />
		</form>
	}


	<h3 class="align-self-center mb-3">Комментарии</h3>
	<div class="d-flex flex-column justify-content-between mb-3">
		@foreach (var mes in order.Comments)
		{
			<div class="card mb-3">
				<div class="card-body">
					<h5 class="card-title">@userService.GetUser(mes.User).FullName</h5>
					<h6 class="card-subtitle form-text pb-3">@(mes.Date.ToString("dd.MM.yyyy HH:mm"))</h6>
					<p class="card-text">@mes.Message</p>
				</div>
			</div>
		}
	</div>
	<h4 class="align-self-center mb-3">Отправить комментарий</h4>
	<form @onsubmit="AddMessage">
		<label>
			Текст комменатрия:
		</label>
		<input class="form-control" @bind="Message" />
		<br />
		<input class="form-control btn btn-primary" type="submit" placeholder="Добавить комментарий" />
	</form>

	<h3 class="align-self-center mb-3">Документы</h3>

	<div class="d-flex flex-column justify-content-between mb-3">
		<table class="table mb-3">
			<thead class="thead-dark">
				<tr>
					<th scope="col">Документ</th>
					<th scope="col">Утвержден</th>
					<th scope="col">Важен</th>
					<th scope="col">Скачать</th>
					<th scope="col">Удалить</th>
				</tr>
			</thead>
			<tbody>
				@foreach (var doc in order.Documents)
				{
					@if (role == "AdminRole" || role == "CustomerRole")
					{
						<tr class="@((doc.IsRequired) ? "bg-required" : (doc.IsChecked) ? "bg-checked" : "")">
							<td>@doc.Title</td>
							<td><input type="checkbox" checked="@doc.IsChecked" @oninput="@((e) => {doc.IsChecked = (bool)e.Value; UpdateOrder();})" /></td>
							<td><input type="checkbox" checked="@doc.IsRequired" @oninput="@((e) => {doc.IsRequired = (bool)e.Value; UpdateOrder();})" /></td>
							<td><button class="btn btn-info" @onclick="@(() => DownloadFile(doc.FileId))">Скачать</button></td>
							<td><button class="btn btn-danger" @onclick="@(() => DeleteFile(doc.FileId))">Удалить</button></td>
						</tr>
					}
					else
					{
						<tr class="@((doc.IsRequired) ? "bg-required" : (doc.IsChecked) ? "bg-checked" : "")">
							<td>@doc.Title</td>
							<td><input type="checkbox" @bind="doc.IsChecked" readonly disabled /></td>
							<td><input type="checkbox" @bind="doc.IsRequired" readonly disabled /></td>
							<td><button class="btn btn-info" @onclick="@(() => DownloadFile(doc.FileId))">Скачать</button></td>
							<td></td>
						</tr>
					}
				}
			</tbody>
		</table>
	</div>
	<h4 class="align-self-center mb-3">Отправить документ</h4>
	@if (role == "BuilderRole" || role == "DesignerRole" || role == "AdminRole")
	{
		<form @onsubmit="AddDocument">
			<div class="form-group">
				<label>Тип документа</label>
				<select class="form-control" @bind="title">
					<option value="" disabled selected hidden>Выберите тип документа</option>
					@foreach (var title in IndustryTitles[order.Industry])
					{
						<option value="@title">@(title.Length > 67 ? title.Substring(0, 67) + "..." : title)</option>
					}
				</select>
			</div>
			<br />
			<InputFile OnChange="OnInputFileChange" type="file" class="form-control form-control-file" />
			<br />
			<input class="form-control btn btn-primary" type="submit" placeholder="Добавить документ" />
		</form>
	}
</div>
@code {
	[Parameter]
	public string Id { get; set; } = "";

	Dictionary<string, string[]> IndustryTitles = new Dictionary<string, string[]>(){
		{"Gasification", new string[] {
				"Письмо-обращение на имя Президента,Премьер-Министра, Минстрой РТ",
				"Задание на проектирование",
				"Ситуационный план (утвержденный исполкомом)",
				"Технические условия на присоединение к газораспределительной сети (№, дата, срок действий Технических условий)",
				"Технический паспорт (план БТИ) объекта СКБ",
				"Технический паспорт (план БТИ) существующей котельной",
				"АКТ обследования объекта",
				"Технические условия на сети электроснабжение, водоснабжения, водоотведения при установке БМК",
				"Согласование посадки котельной",

				"Технико-экономические показатели (ТЭП) Газопровод-ввод низкого давления",
				"Вводной газопровод низкого давления",
			}
		},
		{"WaterSupply", new string[] {
			"Акт обследования и выбора трассы сети водоснабжения",
			"Акт обследования и выбор места под проектируемую скважину",
			"Согласованный ситуационный план (М1:10000 или М1:25000) с нанесением источников воды (скважин, родников и т.п.), существующих водонапорных башен, предполагаемой трассой водопровода и места врезки в существующую сеть",
			"План населённого пункта в М 1:1000 или М 1:500 топографическая съемка)",
			"Технические условия на водоснабжение",
			"Технические условия на электроснабжение (для насосной станции первого или второго подъема)",
			"Градостроительный план земельного участка",
			"Справка согласования с собственниками земельных участков",
			"Документ, подтверждающий проведение межевания с присвоением кадастрового номера земельного участка под строительство водопровода и сооружений на нем",
			"Заключение Органа Роспотребнадзора санитарно-эпидемиологической службы по отводу земельного участка и результат радиационного обследования",
			"Сведения о наличие водозаборных скважин (родников) на территории хозяйства",

			"Технико-экономические показатели (ТЭП)",
			}
		},
	};

	Order order;
	List<AppUser> builders = new List<AppUser>();
	List<AppUser> designers = new List<AppUser>();
	string AuthorName = "";
	string Message = "";
	string role = "";
	string title = "";
	List<string> errors = new List<string>();
	IBrowserFile file;

	protected override void OnInitialized()
	{
		if (!AuthStateProvider.IsAuthenticated) navManager.NavigateTo("");
		order = orderService.GetOrder(Id);
		try
		{
			AuthorName = userService.GetUser(order.Author).FullName;
			role = userService.GetRole();
			builders = userService.GetUsersByRole("BuilderRole");
			designers = userService.GetUsersByRole("DesignerRole");
		}
		catch
		{
			navManager.NavigateTo("");
		}
	}

	private void UpdateOrder()
	{
		errors = new List<string>();
		var builderUser = userService.GetUser(order.Builder);
		var designerUser = userService.GetUser(order.Designer);
		if (!(order.Builder == "" || (builderUser != null && builderUser.GetType() == new BuilderRole().GetType())))
		{
			errors.Add("Строитель не может бытть назначен!");
		}
		if (!(order.Designer == "" || (designerUser != null && designerUser.GetType() == new DesignerRole().GetType())))
		{
			errors.Add("Дизайнер не может бытть назначен!");
		}
		orderService.UpdateOrder(order);
		StateHasChanged();
	}

	private void AddMessage()
	{
		Comment comment = new Comment()
			{
				User = userService.GetId(),
				Message = Message
			};
		order.Comments.Add(comment);
		UpdateOrder();
	}

	private void OnInputFileChange(InputFileChangeEventArgs e)
	{
		file = e.File;
		//string[] tempExt = file.Name.ToLower().Split('.');
		//string ext = tempExt[tempExt.Length - 1];
		//string name = Path.GetRandomFileName() + '.' + ext;
		//if (file.ContentType.StartsWith("image/") && new string[] { "png", "jpg", "jpeg", "svg", "webp" }.Contains(ext))
		//{
		//}
		this.StateHasChanged();

	}

	private async void AddDocument()
	{
		if (IndustryTitles[order.Industry].Contains(title) && file != null)
		{
			string fileid = await fsService.UploadFileAsync(file.Name, file.OpenReadStream(4096000000));
			order.Documents.Add(new OrderDocument()
				{
					Title = title,
					FileId = fileid,
					OrderId = order.Id,
				});
			file = null;
			UpdateOrder();
		}
		else
		{
			errors.Add("Неправильный тип файла");
		}
	}

	private async void DeleteFile(string fileId)
	{
		fsService.DeleteFile(fileId);
		order.Documents.Remove(order.Documents.Find(x => x.FileId == fileId));
		UpdateOrder();
	}

	private async void DownloadFile(string fileId)
	{
		if (role != null && role.Contains("Role") && fileId != "")
		{
			var filename = fsService.IsExsists(fileId);
			if (filename != null)
			{
				var stream = await fsService.DownloadFileAsync(fileId);
				await DownloadFileFromStream(filename, stream);
			}
		}
	}

	private async Task DownloadFileFromStream(string filename, Stream stream)
	{
		using var streamRef = new DotNetStreamReference(stream: stream);

		await JS.InvokeVoidAsync("downloadFileFromStream", filename, streamRef);
	}
}
